**Name:** Neha Dinesh Sonar

**Roll no:** 20013065

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

**Reading the dataset**

In [ ]:
adata = pd.read_csv("air_data.csv");

adata

     Unnamed: 0  Ozone  Solar.R  Wind  Temp  Month  Day
0             1   41.0    190.0   7.4    67      5    1
1             2   36.0    118.0   8.0    72      5    2
2             3   12.0    149.0  12.6    74      5    3
3             4   18.0    313.0  11.5    62      5    4
4             5    NaN      NaN  14.3    56      5    5
..          ...    ...      ...   ...   ...    ...  ...
103         104   44.0    192.0  11.5    86      8   12
104         105   28.0    273.0  11.5    82      8   13
105         106   65.0    157.0   9.7    80      8   14
106         107    NaN     64.0  11.5    79      8   15
107         108   22.0     71.0  10.3    77      8   16

[108 rows x 7 columns]

**Data preparation**

In [ ]:
adata.columns

Index(['Unnamed: 0', 'Ozone', 'Solar.R', 'Wind', 'Temp', 'Month', 'Day'], dtype='object')

In [ ]:
adata.shape

(108, 7)

In [ ]:
adata.isnull().sum()

Unnamed: 0     0
Ozone         34
Solar.R        7
Wind           0
Temp           0
Month          0
Day            0
dtype: int64

In [ ]:
ozone_mean=adata['Ozone'].mean()
adata['Ozone']= adata['Ozone'].fillna(ozone_mean) 


solar_mean = adata['Solar.R'].mean()
adata['Solar.R'] = adata['Solar.R'].fillna(solar_mean)

In [ ]:
adata.isnull().sum()

Unnamed: 0    0
Ozone         0
Solar.R       0
Wind          0
Temp          0
Month         0
Day           0
dtype: int64

**Correlation matrix**

In [ ]:
adata.drop(['Unnamed: 0'],axis=1, inplace= True)

In [ ]:
matrix = adata.corr()
matrix

            Ozone   Solar.R      Wind      Temp     Month       Day
Ozone    1.000000  0.325547 -0.463648  0.572369  0.425781 -0.021795
Solar.R  0.325547  1.000000 -0.048794  0.289614  0.006278 -0.168179
Wind    -0.463648 -0.048794  1.000000 -0.401515 -0.302494  0.030999
Temp     0.572369  0.289614 -0.401515  1.000000  0.735921 -0.146081
Month    0.425781  0.006278 -0.302494  0.735921  1.000000 -0.203542
Day     -0.021795 -0.168179  0.030999 -0.146081 -0.203542  1.000000

**Dividing dataset in test data and train data**

In [ ]:
X=adata[['Month','Solar.R','Wind','Temp']]
Y= adata[['Ozone']]

In [ ]:
from sklearn.model_selection import train_test_split

x_train,x_test,y_train, y_test = train_test_split(X, Y, test_size=0.25, random_state=42)

print("Length of x_train = ",len(x_train))
print("Length of x_test = ",len(x_test))
print("Length of y_train = ",len(y_train))
print("Length of y_test = ",len(y_test))

Length of x_train =  81
Length of x_test =  27
Length of y_train =  81
Length of y_test =  27

**Fitting data in the model**

In [ ]:
from sklearn.linear_model import LinearRegression

In [ ]:
reg = LinearRegression().fit(x_train, y_train)

reg.score(x_train,y_train)

0.4406196329545534

**Prediction of the Data**

In [ ]:
y_train_pred = reg.predict(x_train).sum(axis=1)
y_train_pred

array([ 62.26512277,  35.43757731,  44.56744289,  62.31950045,
        64.32264654,  39.32664908,  19.92741596,  43.06913407,
        47.84317734,  37.40629742,  57.0872911 ,  18.97654563,
        50.55278175,  34.69891204,  51.66352638,  56.53708977,
        34.29143633,  66.03069865,  51.76051099,  54.30620682,
         9.33707321,  50.68904174,  62.71897509,  32.10918272,
        16.55972549,  19.97903675,  60.01190618,  44.72419152,
        15.9772063 ,  72.64903327,  30.58802941,  37.14582425,
        -2.37184519,  32.16087002,  -6.53847357,  66.50549602,
       -11.06603367,  62.24463389,  42.12430013,  60.87263856,
        47.87543673,  57.36518223,  56.0111068 ,  37.86736009,
        32.56768938,  29.67402631,  67.65517238,  71.03842752,
        49.1141238 ,  58.40103932,  60.48192804,  35.98149289,
        23.84423272,  26.00472355,  29.23095673,  25.1617841 ,
        47.11174991,  63.51682701,  19.49599572,  52.059669  ,
        53.20469744,  44.69708237,  58.81836759,  58.0454728 ,
        39.04667258,  56.45992227,  29.31250451,  30.36066729,
        15.7626058 ,  39.44655764,  75.30362416,  49.65096539,
        44.81344913,  52.08970913,  14.77771872,  51.02333521,
        48.50298522,   7.84714821,  48.65613157,  50.62025806,
        44.34447932])

In [ ]:
y_test_pred = reg.predict(x_test).sum(axis=1)

y_test_pred

array([52.43460568, 48.65093389, 10.91566869, 50.48381842, 56.70470282,
       72.62651974, 54.8133243 , 49.26031534, 60.38533225, 40.25786997,
       36.99883977, 65.99456984, 40.41801133, 48.62412772, 38.55590654,
       74.61042362, 45.47149369, 59.88579333, 32.90781018, 63.59508629,
       40.8788794 , 37.90192043, 41.72712397, 29.14102142, 17.79997523,
       53.94258471, 14.85241142])

**R2 Score**

In [ ]:
from sklearn.metrics import r2_score

print('R^2 train: ', r2_score(y_train, y_train_pred))
print('R^2 test: ', r2_score(y_test, y_test_pred))

R^2 train:  0.4406196329545534
R^2 test:  0.33473854508990053

**MSE Score**

In [ ]:
from sklearn.metrics import mean_squared_error

mse = mean_squared_error(y_train, y_train_pred)
print('MSE train: ', mean_squared_error(y_train, y_train_pred))
print('MSE test: ', mean_squared_error(y_test, y_test_pred))

MSE train:  436.6416838456032
MSE test:  311.93888018233093

**Regression Coefficent**

In [ ]:
print('Regression Coefficients: ', reg.coef_)

Regression Coefficients:  [[ 0.02978459  0.06361269 -2.73887815  0.97042038]]

**Regression Intercept**

In [ ]:
print('Regression intercept : ',reg.intercept_)

Regression intercept :  [-16.56779029]

**Summary**

In [ ]:
import statsmodels.api as sm
res=sm.OLS(Y,X).fit()
print(res.summary())

/usr/local/lib/python3.7/dist-packages/statsmodels/tools/_testing.py:19: FutureWarning: pandas.util.testing is deprecated. Use the functions in the public API at pandas.testing instead.
  import pandas.util.testing as tm

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  Ozone   R-squared (uncentered):                   0.837
Model:                            OLS   Adj. R-squared (uncentered):              0.831
Method:                 Least Squares   F-statistic:                              133.8
Date:                Thu, 28 Apr 2022   Prob (F-statistic):                    4.42e-40
Time:                        10:21:48   Log-Likelihood:                         -477.74
No. Observations:                 108   AIC:                                      963.5
Df Residuals:                     104   BIC:                                      974.2
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Month          2.6336      2.969      0.887      0.377      -3.254       8.521
Solar.R        0.0657      0.024      2.766      0.007       0.019       0.113
Wind          -2.8307      0.479     -5.911      0.000      -3.780      -1.881
Temp           0.5441      0.272      1.999      0.048       0.004       1.084
==============================================================================
Omnibus:                       16.008   Durbin-Watson:                   1.638
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               18.031
Skew:                           0.918   Prob(JB):                     0.000122
Kurtosis:                       3.796   Cond. No.                         338.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.